@page "/"
@rendermode InteractiveServer

@using GrpcClient3.BlazorApp.Services

@inject ConnectionService ConnService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />
<br />

@if (model == null)
{
    <p>Checking if client is installed on your machine...</p>
}
else
{
    @if (model.IsExist)
    {
        <h3>Client currently is installed on your machine and is running</h3>
        <br />

        @if (connectedToElementModel == null)
        {
            <button class="btn btn-primary" @onclick="ConnectToElement">Connect to element</button>
        }
        else
        {
            @if (connectedToElementModel.IsConnectedToElementSuccessfully && finishedConnectionToElementModel == null)
            {
                <button class="btn btn-danger">Connected to element</button>
            }
            else
            {
                <h5>Successfully Unconnectected with the element</h5>
            }
        }
}
    else
    {
        <p>Client currently is not installed on your machine or not running, please run your client</p>
    }
}


@code {
    private ClientExistModel model = null;
    private ConnectedToElementModel connectedToElementModel = null;
    private FinishedConnectionToElementModel finishedConnectionToElementModel = null;

    protected override void OnInitialized()
    {
        model = ConnService.ChceckIfClientIsInstalledOnMachine();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        finishedConnectionToElementModel = await ConnService.SubscribeToElement();

        if (finishedConnectionToElementModel != null)
        {
            if (finishedConnectionToElementModel.IsStopConnectToElement)
            {
                this.StateHasChanged();
            }
        }
    }

    private void ConnectToElement()
    {
        connectedToElementModel = ConnService.SendConnectToElement();
    }
}